*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body{
  background-image: url(../public/img/贴图.jpg);
  background-size: 400px 300px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}